.header {
  display: flex;
  background-color: #ff6600;
  color: black;
  align-items: center;
  padding: 4px 8px 6px 4px;

  .logo {
    margin-right: 8px;

    &__image {
      border: 1px white solid;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
    }
  }

  .brand {
    a {
      font-size: 15px;
      font-weight: bold;
      margin-right: 8px;
      @media screen and (min-width: 768px) {
        font-size: 13px;
      }
    }
  }

  .menu {
    justify-self: start;
    font-size: 12px;

  }

  .login {
    margin-left: auto;
    justify-self: end;
    font-size: 12px;
  }
}
