<div class="footer">
  <div class="menu">
    <a href="#">Guidelines</a>
    <span> | </span>
    <a href="#">FAQ</a>
    <span> | </span>
    <a href="#">Lists</a>
    <span> | </span>
    <a href="#">API</a>
    <span> | </span>
    <a href="#">Security</a>
    <span> | </span>
    <a href="#">Legal</a>
    <span> | </span>
    <a href="#">Apply to YC</a>
    <span> | </span>
    <a href="#">Contact</a>
  </div>

  <form>
    Search:
    <input type="text" size="17" spellcheck="false" autocapitalize="off" autocomplete="false" />
  </form>
</div>
