<div class="story-item">
  <div class="story-item__rank">
    {{ rank }}.<a href="#"> <img class="upvote-arrow" src="assets/img/grayarrow.gif" alt="upvote" /></a>
  </div>
  <div class="story-item__info">
    <a *ngIf="story?.title" href="#" class="story-item__title"> {{ story.title }}</a>
    <div *ngIf="storyUrl" class="story-item__url">
      <span>(</span>
      <a href="#">{{ storyUrl }}</a>
      <span>)</span>
    </div>
    <div *ngIf="story?.score" class="story-item__score">{{ story.score }} points</div>
    <span>
      by <a *ngIf="story?.by" href="#" class="story-item__author">{{ story.by }}</a>
    </span>
    <a *ngIf="timeFromNow" href="#" class="story-item__creation-time">{{ timeFromNow }}</a>
    <div class="story-item__hide">
      <span>| </span>
      <a href="#">hide</a>
      <span> |</span>
    </div>
    <a class="story-item__comments" href="#">{{ story?.descendants || 0 }} comments</a>
  </div>
</div>
